
.banner_heading h2,.main_heading h2 { text-shadow: 1px 1px 0 #000; -webkit-text-shadow: 1px 1px 0 #000;-o-text-shadow: 1px 1px 0 #000;  -moz-text-shadow: 1px 1px 0 #000;position:relative; behavior:url(common/js/PIE.htc);}
.portfolio_menu li a:hover,.portfolio_menu li a.active { border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px; -moz-border-radius:5px; position:relative; behavior: url(common/js/PIE.htc);}
